@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@100;400&family=Satisfy&display=swap');

#text1 {
  font-family: Poppins, Arial, sans-serif;
  font-weight: 100;
}

#text2 {
  font-family: Montserrat, Arial, sans-serif;
}

#text3 {
  font-family: Satisfy, Arial, sans-serif;
}